<h3>Simple</h3>
<p>Use of quill editor component standalone</p>
<br/>

<ngx-quill-editor [content]="content" (changed)="onContentChange($event)"></ngx-quill-editor>

<br/>
<p><b>Output:</b></p>

<div class="ql-container ql-snow" style="border-width: 1;">
    <div class="ql-editor" [innerHTML]="content">
    </div>
</div>

<br />
<p><b>Implementation:</b></p>

<ngx-tabs>
    <ngx-tab [active]="true" name="Template">
        <ngx-code-highlight language="html" class="no-margin">
            <![CDATA[
<ngx-quill-editor [content]="content" (changed)="onContentChange($event)"></ngx-quill-editor>
]]>
        </ngx-code-highlight>
    </ngx-tab>
    <ngx-tab name="Component">
        <ngx-code-highlight class="no-margin">
            <![CDATA[
import { Component } from '@angular/core';

@Component({
    selector: 'app-demo-quill-editor-simple',
    templateUrl: './demo-quill-editor-simple.component.html',
    styleUrls: ['./demo-quill-editor-simple.component.scss'],
    preserveWhitespaces: true
})
export class DemoQuillEditorSimpleComponent {

    content = "Hallo, this is some content for you to view";

    onContentChange(response) {
    console.log(response);
    this.content = response.html;
    }

}                     
    ]]>
        </ngx-code-highlight>
    </ngx-tab>
</ngx-tabs>