<div class="container">

    <h1>ngx-tabs</h1>
    <br />



    <ngx-tabs>
        <ngx-tab [active]="true" name="Installation">

            <h2>Installation</h2>
            <p>To install this library, run:</p>
            <!-- Terminal -->
            <div class="terminal">
                <pre>npm install @ngx-tiny/tabs --save</pre>
            </div>

            <p>and then add <code><b>NgxTabsModule </b></code> to you <code><b>AppModule</b></code></p>

            <ngx-code-highlight>
                <![CDATA[
import { NgModule } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { NgxTabsModule  } from '@ngx-tiny/tabs';

import { AppComponent } from './app.component';

@NgModule({
  imports: [BrowserModule, NgxTabsModule],
  declarations: [AppComponent],
  bootstrap: [AppComponent]
})
export class AppModule { }
        ]]>
            </ngx-code-highlight>
        </ngx-tab>
        <ngx-tab name="Usage">


            <h2>Usage</h2>
            <h3>Simple Usage</h3>

            <p>Example Usage:</p>
            <ngx-code-highlight>
                <![CDATA[
<ngx-tabs>
    <ngx-tab [active]="true" name="Tab 1">
        Tab 1
    </ngx-tab>
    <ngx-tab name="Tab 2">
        Tab 2
    </ngx-tab>
    <ngx-tab name="Tab 3">
        Tab 3
    </ngx-tab>
</ngx-tabs>
        ]]>
            </ngx-code-highlight>

            <p>Demo:</p>
            
            <ngx-tabs>
                <ngx-tab [active]="true" name="Tab 1">
                    Tab 1
                </ngx-tab>
                <ngx-tab name="Tab 2">
                    Tab 2
                </ngx-tab>
                <ngx-tab name="Tab 3">
                    Tab 3
                </ngx-tab>
            </ngx-tabs>

            <h3>Router Usage</h3>
            <p>To use tabs with routes, generate your components <code>ng g c path/to/component</code> and setup the
                routes.
            </p>
            <p>Example Route Setup:</p>
            <ngx-code-highlight>
                <![CDATA[
import { NgModule } from '@angular/core';
import { Routes, RouterModule } from '@angular/router';

import { TabsComponent } from './tabs/tabs.component';
import { DemoRouteAComponent } from './tabs/demo-route-a/demo-route-a.component';
import { DemoRouteBComponent } from './tabs/demo-route-b/demo-route-b.component';

const routes: Routes = [
    {
        path: "tabs",
        component: TabsComponent,
        children: [
            { path: 'demo-route-a', component: DemoRouteAComponent },
            { path: 'demo-route-b', component: DemoRouteBComponent },
        ]
    }
];

@NgModule({
    imports: [RouterModule.forChild(routes)],
    exports: [RouterModule]
})
export class ProjectRoutingModule {} 
]]>
            </ngx-code-highlight>

            <p>Inside your component HTML you can define the <code>ngx-tab-routes</code> and setup your tabs</p>

            <ngx-code-highlight>
                <![CDATA[
<ngx-tab-routes 
    [tabs]="[{ name: 'Demo Route A', path: './demo-route-a' }, { name: 'Demo Route B', path: './demo-route-b' }]">
    <router-outlet></router-outlet>
</ngx-tab-routes>
    ]]>
            </ngx-code-highlight>

            <p>Demo:</p>
            <ngx-tab-routes
                [tabs]="[{ name: 'Demo Route A', path: './demo-route-a' }, { name: 'Demo Route B', path: './demo-route-b' }]">
                <router-outlet></router-outlet>
            </ngx-tab-routes>


        </ngx-tab>
        <ngx-tab name="API">


            <h2>API</h2>

            <h3>ngx-tabs</h3>

            <table class="table-api">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Default</th>
                        <th>Required</th>
                        <th width="50%">Specification</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>active</td>
                        <td><code>false</code></td>
                        <td>optional</td>
                        <td>
                            <p>Type: Boolean</p>
                            <p>Set the selected tab as active</p>
                        </td>
                    </tr>
                    <tr>
                        <td>activeTabIndex</td>
                        <td><code>0</code></td>
                        <td>optional</td>
                        <td>
                            <p>Type: Number</p>
                            <p>Set a tab index as active</p>
                        </td>
                    </tr>
                </tbody>
            </table>


            <h3>ngx-tab-routes</h3>
            <table class="table-api">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Default</th>
                        <th>Required</th>
                        <th width="50%">Specification</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>tabs</td>
                        <td><code>[]</code></td>
                        <td>required</td>
                        <td>
                            <p>Type: Object with fields name and path </p>
                            <p>Array of tab router object listing the required routes.</p>
                        </td>
                    </tr>
                </tbody>
            </table>

        </ngx-tab>
    </ngx-tabs>

</div>