<div class="container">
    <h1>Getting Started</h1>
    <p>To get started find the component you would like to use in the navigation. There is no single install for
        @ngx-tiny
        components and libraries. Each component or library is a stand alone npm package. Each component is documented
        with
        how to install and use in your Angular application.</p>
    <p>Use the side menu to navigate to the individual components, check out the demos and install the ones you want to
        use.
    </p>

    <br/>
    <h2>Support</h2>
    <p>You can support ngx-tiny by contributing and opening issues on Github or becoming a patron.</p>
    <a class='btn' href="https://github.com/aavanzyl/ngx-tiny   " target="_blank">Contribute on Github</a>
    <a class='btn' href="https://www.patreon.com/bePatron?u=27640996" target="_blank">Become a Patron!</a>
</div>