<div class="container">
    <h1>About</h1>

    <p>I created this library to accommodate my project requirements of simplistic, lightweight and works with SSR and Forms.</p>
    <p>There area a lot of Angular Libraries out there today that clutter, use unnecessary dependencies, does not work out of the box or just blatantly does not do what they claim to offer. </p>
    <p>The idea here is to give back to the community, as I have been using open source plugins and components in all my projects. </p>

    <a class='btn' href="https://www.patreon.com/bePatron?u=27640996" target="_blank">Become a Patron!</a>

</div>