<div #container *ngIf="isOpened" class="ngx-date-picker-calendar-container">

  <!-- Top Bar -->
  <div class="ngx-date-picker-navbar">

    <div class="ngx-date-picker-navbar-item" (click)="prevMonth()">
      <i class="arrow left"></i>
    </div>

    <span class="ngx-date-picker-title" (click)="toggleView()">{{ barTitle }}</span>

    <div class="ngx-date-picker-navbar-item" (click)="nextMonth()">
      <i class="arrow right"></i>
    </div>

  </div>


  <div class="main-calendar-container">

    <!-- Days -->
    <div [ngClass]="{ 'show': view === 'days', 'hidden': view !== 'days' }">
      <div class="main-calendar-day-names">
        <span class="day-name-unit" *ngFor="let name of dayNames">{{ name }}</span>
      </div>
      <div class="main-calendar-days">
        <span class="day-unit" *ngFor="let day of days; let i = index;" (click)="day.isSelectable && setDate(i)">
          <span class="day-background-upper" [ngClass]="this.getDayClasses(day)">{{ day.isVisible ? day.day : '' }}</span>
        </span>
      </div>
    </div>

    <!-- Months -->
    <div [ngClass]="{ 'show': view === 'months', 'hidden': view !== 'months' }">
      <div class="main-calendar-months">
        <span *ngFor="let month of months; let i = index;" class="month-unit"
          [ngClass]="{ 'is-selected': month.isSelected}" (click)="setMonth(i)">
          {{ month.name }}
        </span>
      </div>
    </div>

    <!-- Years -->
    <div [ngClass]="{ 'show': view === 'years', 'hidden': view !== 'years' }">
      <div #calendarYearsContainer class="main-calendar-years">
        <span *ngFor="let year of years; let i = index;" class="year-unit"
          [ngClass]="{ 'is-selected': year.isThisYear }" (click)="setYear(i)">
          {{ year.year }}
        </span>
      </div>
    </div>

  </div>
</div>