.year-picker-wrapper {
    padding: 10px;
    height: 200px;

    .year-picker-scroll-pane {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        overflow: scroll;
        height: 190px;

        .year-picker-button {
            height: 30px;
            background-color: #fff;
            border-radius: 3px;
            border: 1px solid #c4c4c4;
            background-color: transparent;
            font-size: 14px;
            color: #333;
        }

        .year-picker-button.active,
        .year-picker-button:hover {
            background-color: #eaeaea;
        }
    }
}