<div class="container">
  <h1>ngx-code-highlight</h1>
  <br />


  <ngx-tabs>
    <ngx-tab [active]="true" name="Installation">

      <h2>Installation</h2>
      <p>To install this library, run:</p>
      <!-- Terminal -->
      <div class="terminal">
        <pre>npm install @ngx-tiny/code-highlight prismjs --save</pre>
      </div>

      <p>and then add <code><b>NgxCodeHighlightModule</b></code> to you <code><b>AppModule</b></code></p>

      <ngx-code-highlight>
        <![CDATA[
import { NgModule } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { NgxCodeHighlightModule } from '@ngx-tiny/code-highlight';

import { AppComponent } from './app.component';

@NgModule({
  imports: [BrowserModule, NgxCodeHighlightModule],
  declarations: [AppComponent],
  bootstrap: [AppComponent]
})
export class AppModule { }
        ]]>
      </ngx-code-highlight>
    </ngx-tab>
    <ngx-tab name="Usage">


      <h2>Usage</h2>


      <p>Example Output:</p>
      <ngx-code-highlight>
        <![CDATA[
import { NgModule } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { NgxCodeHighlightModule } from '@ngx-tiny/code-highlight';

import { AppComponent } from './app.component';

@NgModule({
  imports: [BrowserModule, NgxCodeHighlightModule],
  declarations: [AppComponent],
  bootstrap: [AppComponent]
})
export class AppModule { }
        ]]>
      </ngx-code-highlight>


      <p>Place the code between &lt;![CDATA[]]&gt; to ensure formatting and escaping of characters. </p>

      <pre class="code" style="padding: 24px; line-height: 18px">
      <code>
&lt;ngx-code-example&gt;
  &lt;![CDATA[
  import {{'{'}} NgModule {{'}'}} from '@angular/core';
  import {{'{'}} BrowserModule {{'}'}} from '@angular/platform-browser';
  import {{'{'}} NgxCodeHighlightModule {{'}'}} from '@ngx-tiny/code-highlight';
  
  import {{'{'}} AppComponent {{'}'}} from './app.component';
  
  @NgModule({{'{'}}
    imports: [BrowserModule, NgxCodeHighlightModule],
    declarations: [AppComponent],
    bootstrap: [AppComponent]
  {{'}'}})
  export class AppModule {{'{'}}
  ]]&gt;
&lt;/ngx-code-example&gt;    
      </code>
    </pre>


      <p>To ensure angular keeps the white spaces, add <code><b>preserveWhitespaces : true</b></code> to
        <code><b>@Component</b></code>.</p>
      <p>Example below:</p>

      <ngx-code-highlight>
        <![CDATA[
import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'app-code-highlight',
  templateUrl: './code-highlight.component.html',
  styleUrls: ['./code-highlight.component.scss'],
  preserveWhitespaces: true
})
export class CodeHighlightComponent implements OnInit {

  constructor() { }

  ngOnInit() {
  }

}
    ]]>
      </ngx-code-highlight>


    </ngx-tab>
    <ngx-tab name="API">


      <h2>API</h2>



      <table class="table-api">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Default</th>
            <th>Required</th>
            <th width="50%">Specification</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>language</td>
            <td><code>javascript</code></td>
            <td>optional</td>
            <td>
              <p>Type: <code>string</code></p>
              <p>@see <a href="https://prismjs.com/#supported-languages"
                  target="_blank">https://prismjs.com/#supported-languages</a></p>
            </td>
          </tr>
        </tbody>
      </table>

    </ngx-tab>
  </ngx-tabs>
</div>