<h3>Key/Value Usage</h3>

<p>Use of a key/value object as options and selections</p>
<br />

<ngx-tabs>
    <ngx-tab [active]="true" name="Example">
        <app-example-area addedHeight="140" [enableAbsolute]="false">
            <ngx-multi-select placeholder="Select a Country" [options]="options" (valueChange)="onChange($event)">
            </ngx-multi-select>
        </app-example-area>
        <br />
        <p><b>Output:</b></p>

        <div style="border-width: 1;">
            {{output}}
        </div>
    </ngx-tab>
    <ngx-tab name="Template">
        <ngx-code-highlight language="html" class="no-margin">
            <![CDATA[
<ngx-multi-select 
    placeholder="Select a Country" 
    [options]="options" 
    (valueChange)="onChange($event)">
</ngx-multi-select>
]]>
        </ngx-code-highlight>
    </ngx-tab>
    <ngx-tab name="Component">
        <ngx-code-highlight class="no-margin">
            <![CDATA[
import { Component } from '@angular/core';

@Component({
    selector: 'app-demo-multi-select-simple',
    templateUrl: './demo-multi-select-simple.component.html'
})
export class DemoMultiSelectSimpleComponent {

    selected = [];
    options = [{id: "1", value: "South Africa"}, {id: "2", value: "United States"}, {id: "3", value: "United Kingdom"}];

    onChange(selection) {
        this.selected = selection;
    }

}
]]>
        </ngx-code-highlight>
    </ngx-tab>
</ngx-tabs>