<ul class="menu-items">
    <li class="menu-item" routerLink="/home" routerLinkActive="active">Home</li>
    <li class="menu-item" routerLink="/getting-started" routerLinkActive="active">Getting Started</li>
    <li class="menu-item" routerLink="/about" routerLinkActive="active">About</li>
    <li class="menu-heading">Inputs</li>
    <li>
        <ul class="menu-items">
            <!-- <li class="menu-item" routerLink="/project/address-input" routerLinkActive="active">Address Input</li> -->
            <li class="menu-item" routerLink="/project/single-select" routerLinkActive="active">Single Select</li>
            <li class="menu-item" routerLink="/project/multi-select" routerLinkActive="active">Multi Select</li>
            <li class="menu-item" routerLink="/project/quill-editor" routerLinkActive="active">Quill Editor</li>
            <li class="menu-item" routerLink="/project/switch-input" routerLinkActive="active">Switch Input</li>
            <li class="menu-item" routerLink="/project/date-picker" routerLinkActive="active">Date Picker</li>
            <!-- <li class="menu-item" routerLink="/project/tag-input" routerLinkActive="active">Tag Input</li> -->
        </ul>
    </li>
    <li class="menu-heading">Components</li>
    <li>
        <ul class="menu-items">
            <li class="menu-item" routerLink="/project/code-highlight" routerLinkActive="active">Code Highlight</li>
            <li class="menu-item" routerLink="/project/tabs" routerLinkActive="active">Tabs</li>
        </ul>
    </li>
    <li class="menu-heading">Directives</li>
    <li>
        <ul class="menu-items">
            <li class="menu-item" routerLink="/project/clipboard" routerLinkActive="active">Clipboard</li>
        </ul>
    </li>
</ul>