<!-- Toolbar -->
<div class="toolbar" role="banner">

  <div class="nav-icon" (click)="toggleNavigation()" [class.active]="isOpenNavigation">
    <div></div>
  </div>

  <div class="toolbar-heading">Ngx-Tiny</div>
  <div class="spacer"></div>

  <div class="toolbar-items">
    <a href="https://github.com/aavanzyl/ngx-tiny" target="_blank" class="toolbar-item icon-github pull-right"></a>
    <a href="#" routerLink="/support" class="toolbar-item pull-right">Support</a>
    <a href="#" routerLink="/about" class="toolbar-item pull-right">About</a>
  </div>

</div>

<ngx-nav-drawer [(open)]="isOpenNavigation">
  <app-side-menu></app-side-menu>
</ngx-nav-drawer>



<div class="content">
  <router-outlet></router-outlet>
</div>