<div class="container">
    <h1>ngx-time-picker</h1>
    <div class="badge-wrapper">
        <img alt="package version" src="https://img.shields.io/npm/v/@ngx-tiny/time-picker?style=for-the-badge">
        <img alt="minzipped size"
            src="https://img.shields.io/bundlephobia/minzip/@ngx-tiny/time-picker?style=for-the-badge">
        <img alt="last commit" src="https://img.shields.io/github/last-commit/aavanzyl/ngx-tiny?style=for-the-badge">
        <img alt="licence" src="https://img.shields.io/npm/l/@ngx-tiny/time-picker?style=for-the-badge">
    </div>

    <ngx-tabs>
        <ngx-tab [active]="true" name="Installation">

            <h2>Installation</h2>
            <p>To install this library, run:</p>
            <!-- Terminal -->
            <div class="terminal">
                <pre>npm install @ngx-tiny/ngx-time-picker --save</pre>
            </div>

            <p>and then add <code><b>NgxTimePickerModule</b></code> to you <code><b>AppModule</b></code></p>

            <ngx-code-highlight>
                <![CDATA[
import { NgModule } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { NgxTimePickerModule } from '@ngx-tiny/time-picker';

import { AppComponent } from './app.component';

@NgModule({
    imports: [BrowserModule, NgxTimePickerModule],
    declarations: [AppComponent],
    bootstrap: [AppComponent]
})

export class AppModule { }
]]>
            </ngx-code-highlight>

            <p>* <b>Note that the default locale for the <code>ngx-time-picker</code> is <code>en-US</code>. We would
                    recommend this gets specified for the target local.</b></p>

        </ngx-tab>

        <ngx-tab name="Usage">


            <h2>Usage</h2>

            <app-demo-time-picker-simple></app-demo-time-picker-simple>
            <app-demo-time-picker-forms></app-demo-time-picker-forms>


        </ngx-tab>
        <ngx-tab name="Styling">

            <h2>Styling</h2>
            <p>You can customize the styling of the <code>ngx-time-picker</code> by including the style file and setting
                the required variables</p>

            <p>Include the <code>./node_modules/ngx-time-picker/theme.scss</code> as an import in your styles.scss file.
            </p>

            <ngx-code-highlight>
                <![CDATA[
$ngx-time-picker-background: #FFFFFF!default;
$ngx-time-picker-font-size: 14px!default;
$ngx-time-picker-color: #3d495c!default;

$ngx-time-picker-button-color: rgb(24, 117, 210)!default;
$ngx-time-picker-border-radius: 5px!default;
$ngx-time-picker-border-color: #dfe3e9!default;

@import '~@ngx-tiny/ngx-time-picker/theme.scss';
]]>
            </ngx-code-highlight>

        </ngx-tab>

        <ngx-tab name="API">


            <h2>API</h2>

            <h3>Input</h3>
            <p>Input specification on <code>ngx-time-picker</code> component.</p>
            <table class="table-api">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Default</th>
                        <th>Required</th>
                        <th width="50%">Specification</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>value</td>
                        <td><code>new Date()</code></td>
                        <td>optional</td>
                        <td>
                            <p>Type: <code>Date</code></p>
                            <p>Current value of time picker.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>options</td>
                        <td><code>@see Options</code></td>
                        <td>optional</td>
                        <td>
                            <p>Type: <code>TimePickerOptions</code></p>
                            <p>Options of the Time Picker</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <br/>


            <h3>Output</h3>
            <p>Output specification on <code>ngx-time-picker</code> component.</p>
            <table class="table-api">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Required</th>
                        <th width="50%">Specification</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>valueChange</td>
                        <td>optional</td>
                        <td>
                            <p>Type: <code>EventEmitter</code></p>
                            <p><code>Date</code> or <code>DateRange</code></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <br/>

            <h3>Options</h3>
            <p>Available Options on <code>ngx-time-picker</code> component.</p>
            <p>@see DatePickerOptions in <code>ngx-time-picker</code></p>
            <table class="table-api">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Default</th>
                        <th width="50%">Specification</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>closeOnClickOutside</td>
                        <td><code>true</code></td>
                        <td>
                            <p>Type: <code>boolean</code></p>
                            <p>Close Date Picker when clicked outside of container.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>locale</td>
                        <td><code>en-US</code></td>
                        <td>
                            <p>Type: <code>object</code></p>
                            <p>Specify the Date-fns locale to be used.</p>
                            <p>If you don't specify a locale in options, default locale is en-US.</p>
                            <p>See <a href="https://date-fns.org/v2.8.1/docs/Locale"
                                    target="_blank">https://date-fns.org/v2.8.1/docs/Locale</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td>displayFormat</td>
                        <td><code>MMM d, yyyy</code></td>
                        <td>
                            <p>Type: <code>date-fns format</code></p>
                            <p>Format of display value of a date.</p>
                            <p>See <a href="https://date-fns.org/docs/format"
                                    target="_blank">https://date-fns.org/docs/format</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td>hoursStep</td>
                        <td><code>1</code></td>
                        <td>
                            <p>Type: <code>number</code></p>
                            <p>Number of hours to step on click</p>
                        </td>
                    </tr>
                    <tr>
                        <td>minutesStep</td>
                        <td><code>1</code></td>
                        <td>
                            <p>Type: <code>number</code></p>
                            <p>Number of minutes to step on click</p>
                        </td>
                    </tr>
                    <tr>
                        <td>military</td>
                        <td><code>false</code></td>
                        <td>
                            <p>Type: <code>boolean</code></p>
                            <p>Choose to use 24h display or 12h display</p>
                        </td>
                    </tr>

                </tbody>
            </table>

        </ngx-tab>
    </ngx-tabs>
</div>