$font-size: 14px;

$foreground-color: #333;
$background-color: #ffffff;
$background-disabled-color: #d1d1d1;
$active-background-color: #862238;
$active-foreground-color: $background-color;
$border-color: #d1d1d1;
$border-radius: 0;



.single-select-dropdown-group {
  position: relative;
  box-sizing: content-box;
  background-color: $background-color;

  .select-dropdown-control {
    display: flex;
    width: 100%;
    overflow: hidden;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: $background-color;
    min-height: 39px;

    button {
      margin-bottom: 0;
      font-weight: 400;
      cursor: pointer;
      white-space: nowrap;
      padding: 5px 10px;
      overflow-x: hidden;
      background-color: transparent;
      color: $foreground-color;
      border: 0px;
      width: 100%;
      outline: none;
      transition: 0.15s ease;

      span {
        vertical-align: middle;
        float: left;
        max-width: 90%;
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: $font-size
      }
    }

    .arrow {
      width: 13px;
      height: 13px;
      display: inline-block;
      position: relative;
      bottom: -5px;
      left: -10px;
      line-height: normal;
      transition: 0.4s ease;
      margin-top: 2px;
      text-align: left;
      transform: rotate(45deg);
      overflow: visible;
      float: right;

      &:before,
      &:after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 12px;
        height: 3px;
        background-color: $foreground-color;
        transition: 0.4s ease;
      }

      &:after {
        position: absolute;
        transform: rotate(90deg);
        top: -5px;
        left: 5px;
      }
    }

    &.active {
      .arrow {
        transform: rotate(45deg) translate(-5px, -5px);

        &:before {
          transform: translate(10px, 0);
        }

        &:after {
          transform: rotate(90deg) translate(10px, 0);
        }
      }
    }
  }

  &[disabled='true'] {
    background-color: $background-disabled-color;

    .arrow {
      display: none;
    }
  }

  .select-dropdown {
    margin-top: 3px;
    left: 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    z-index: 100;
    background-clip: padding-box;
    background: $background-color;
    max-height: 200px;
    position: absolute;

    .select-dropdown-items-content {
      display: block;
      height: 100%;
      overflow-y: auto;

      .select-dropdown-items {

        display: block;
        padding: 10px;
        cursor: pointer;
        font-size: 14px;
        position: relative;
        border-bottom: 1px solid $border-color;

        &.active{
          background-color: $active-background-color;
          color: $active-foreground-color;
        }
      }
    }
  }
}