<h3>Simple</h3>
<p>Use of a value array as selection options</p>
<br />


<div class="row">

    <div class="col-5">
        <div class="form-group">
            <label>Single Date</label>
            <input class="form-control" placeholder="Select Date" [ngx-date-picker]="dateInstanceOne" required>
            <ngx-date-picker #dateInstanceOne [options]="singleDatePickerOptions"></ngx-date-picker>
        </div>
    </div>
    <div class="col-5">
        <div class="form-group">
            <label>Range Date</label>
            <input class="form-control" placeholder="Select Date" [ngx-date-picker]="dateInstanceTwo" required>
            <ngx-date-picker #dateInstanceTwo [options]="rangeDatePickerOptions"></ngx-date-picker>
        </div>
    </div>

</div>